@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #7464a1;
    --bs-pink: #d63384;
    --bs-red: #a16468;
    --bs-orange: #fd7e14;
    --bs-yellow: #e4c662;
    --bs-green: #67c29c;
    --bs-teal: #64a19d;
    --bs-cyan: #1cabc4;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #64a19d;
    --bs-secondary: #7464a1;
    --bs-success: #67c29c;
    --bs-info: #1cabc4;
    --bs-warning: #e4c662;
    --bs-danger: #a16468;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-primary-rgb: 100, 161, 157;
    --bs-secondary-rgb: 116, 100, 161;
    --bs-success-rgb: 103, 194, 156;
    --bs-info-rgb: 28, 171, 196;
    --bs-warning-rgb: 228, 198, 98;
    --bs-danger-rgb: 161, 100, 104;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-black-rgb: 0, 0, 0;
    --bs-white-rgb: 255, 255, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    background: url('./media/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.container{
    max-width: 90% + 1vw;
    box-sizing: content-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    user-select: none;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo{
    font-size: 2rem;
    color: rgb(250, 252, 252);
    text-decoration: none;
    font-weight: 700;
    user-select: none;
}

#check{
    display: none;
}

.icons{
    font-size: 2.8rem;
    color:rgb(250, 252, 252);
    cursor: pointer;
    display: none;
    right: 5%;
    position: absolute;
}

.nav a {
    text-decoration: none;
    color: rgb(250, 252, 252); 
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 2.5rem;
    user-select: none;
}

.nav a:hover{
    color: #ffffff;
}

.body_body{
    min-height: 100vh;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-ul{
    list-style: none;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
}

.columns{
    display: flex;
    justify-content: space-around;
}
.column1{
    flex: 1;
    box-sizing: border-box;
}

.column1 ul li:not(:last-child){
    margin-bottom: 0.625rem;
    align-items: center;
    padding: 0 0 0;    
}
.column1 ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(200, 200, 200);
    display: block;
    transition: all .3s ease;
    padding: 3px 0 0;
}
.column1 ul li a:hover{
    color: #ffffff;
}

.column1 ul li:nth-child(1) a{
    font-weight: bold;
    text-transform: none;
    user-select: none;
}
.column1 ul li:nth-child(1) a:hover{
    color: rgb(200, 200, 200);
}

.column1 ul li:nth-child(2) a{
    text-transform: none;
}

.column2{
    flex: 1;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

.column2 ul{
    list-style: none;
    padding: 0;
}

.column2:last-child {
    transform: translateY(25%);
  }
.column2 ul li:not(:last-child){
    margin-bottom: 0.625rem;
    align-items: center;
    padding: 0 0 0;    
    text-align: center;
}
.column2 ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(200, 200, 200);
    display: block;
    transition: all .3s ease;
    padding: 3px 0 0;
}
.column2 ul li a:hover{
    color: #ffffff;
}

.p_license{
    padding: 20%;
    text-align: center;
    color: rgb(250, 252, 252);
    font-weight: 700;
    user-select: none;
    font-size: 1.3rem;
}
.p_license a{
    color: #ffffff;
    user-select: all
}

.image{
    display: flex;
    user-select: none;
}
.container{
    text-align: center;
    margin: 0 45vw;
    user-select: none;
}
.authors{
    text-align: center;
}

.authors img {
    max-width: 100%;
    height: 15vh;
    display: flex;
    margin-top: 25vh;
    transition: all 0.3s ease;
    border-radius: 12px;
}
.authors img:hover{
    border: 1px solid #000;
 
}

.about_us-text{
    text-align: center;
    color: rgb(250, 252, 252);
    font-weight: 500;
    user-select: none;
    font-size: 1.1rem;
    margin-left: -1vw;
    transform: translateY(-55vh);
}
.about_us-text a{
    color: rgb(250, 252, 252);
}

.main_text{
    text-align: center;
    color: rgb(250, 252, 252);
    user-select: none;
    font-size: 1.1rem;
    transform: translateY(15vh);
    font-weight: 600;
    font-size: 1.4rem;
}

.downloads_images{
    display: flex;
    user-select: none;
}
.downloads_container{
    text-align: center;
    margin: 0 45vw;
    user-select: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20vw;
    margin: 0 auto;
}
.downloads{
    text-align: center;
}

.downloads img {
    max-width: 100%;
    height: 15vh;
    display: flex;
    margin-top: 25vh;
}

.download{
    margin-top: 2vh;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-item {
    text-align: center; /* Centers the content within each item */
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}

@media (max-width: 1850px){
    .about_us-text{
        margin-left: -2vw;
    }
    .authors img{
        transform :translateX(-5%)
    }
    .downloads img{
        transform :translateX(-5%)
    }
    .main_text{
        font-size: 1.3rem;
    }
}

@media (max-width: 1520px){
    .p_license{
        font-size: 1.35rem;
    }
    .main_text{
        font-size: 1.2rem;
    }
    .about_us-text{
        font-size: 0.9rem;
        transform: translateY(-55vh);
        margin-left: 0;
    }
    .authors img{
        height: 15vh;
        transform :translateX(5%)
    }
    .downloads img{
        height: 15vh;
        transform :translateX(5%)
    }
    .download{
        padding: 10px 20px;
    }
}

@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
    .p_license{
        font-size: 1.3rem;
        transform: translateY(5%);
    }
    .about_us-text{
        font-size: 0.85rem;
        transform: translateX(0%);
        transform: translateY(-65vh);
    }
    .authors img{
        height: 8vh;
        transform: translateX(5%);
    }
    .downloads img{
        display: none;
    }
    .main_text{
        font-size: 1rem;
    }
    .download_item{
        display: none;
    }
    .download{
        display: none;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.nav {
        height: 14rem;
    }

    .nav a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.nav a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }

    .column1{
        width: 50%;
        margin-bottom: 1.875rem;
    }
    .column2{
        width: 50%;
        margin-bottom: 1.875rem;
    }

    .p_license{
        font-size: 1.1rem;
        transform: translateY(15%);
    }
    .about_us-text{
        font-size: 0.9rem;
        transform: translateX(-10%);
        transform: translateY(-60vh);
        
    }
    .authors img{

        display: inline-block;
        margin-top: 25vh;
    }
    .image{
        display: block;
    }
    .main_text{
        font-size: 0.85rem;
    }
}

@media (max-width: 480px){
    .column1{
        width: 100%;
    }
    .column2{
        width: 100%;
    }

    .p_license{
        transform: translateY(30%);
        font-size: 0.9rem;
    }
    .image{
        display: block;
    }
    .about_us-text{
        font-size: 0.8rem;
        transform: translateX(-10%);
        transform: translateY(-65vh);
    }
    .authors img{
        border-radius: 6px;
    }
    .main_text{
        font-size: 0.85rem;
        transform: translateY(17vh);
    }
}


@media (max-width: 386px){
    .p_license{
        transform: translateY(30%);
        font-size: 0.8rem;
    }
    .foooter{
        padding: 1rem 0;
    }
    .column1 ul li a{
        padding: 0 0 0;
        margin-bottom: 0;
    }
    .column2 ul li a{
        padding: 0 0 0;
        margin-bottom: 0;
    }
    .column1 ul li{
        padding: 0 0 0;
        margin-bottom: 0;
    }
    .column2 ul li{
        padding: 0 0 0;
        margin-bottom: 0;
    }
    .about_us-text{
        font-size: 0.7rem;
        transform: translateX(-10%);
        transform: translateY(-65vh);
    }
    .authors img{
        border-radius: 3px;
    }
    .main_text{
        font-size: 0.8rem;
    }
}

@media (max-height: 660px){
    .p_license{
        font-size: 0.6rem;
    }
}

@media (max-height: 530px){
    .p_license{
        font-size: 0.5rem;
    }
}